<?php
$count = 0;
if (isset($_SESSION['cart'])) {
    $count = count($_SESSION['cart']);

}
?>

<div class="header">
        
<div class="navbar">
        <div class="navbar__left">

            <div class="navbar__menu">
                <i id="bars" class="fa fa-bars" aria-hidden="true"></i>
                <ul>
                    <li><a href="index.php">Home</a></li>
                    <li><a href="index.php?page=music">Music</a></li>
                    <li>
                        <?php
                            if(isset($_SESSION['fullname'])){
                                ?>
                                    <a href="index.php?page=yourorder">Ordered</a>
                                <?php
                            }else{
                                ?>
                                    <div style="opacity: 0.7; cursor: default;">Ordered</div>
                                <?php
                            }
                        ?>
                    </li>
                </ul>
            </div>

        </div>
        <div class="PArt">
                P.Art
        </div>




        <div class="navbar__center">
            <form action="" method="GET" class="navbar__search">
                <input type="text" value="" placeholder="Type to search..." name="txtsearch" class="search" required>
                <i class="fa fa-search" id="searchBtn"></i>
            </form>
        </div>




        <div class="navbar__right">

            <?php
            if (isset($_SESSION['fullname'])) {
                $name = $_SESSION['fullname'];

                ?>
                    <div style="display: flex; padding: 10px;">
                        <h4 style="padding-right: 5px;"></h4>

                        <form action="index.php?page=logout" method="post">
                            <button class="logout-but" type="submit"><?php echo ucfirst($name) ?>
                            </button>
                        </form>
                    </div>
                <?php

            } else {
                ?>
            
                    <div class="login">
                        <a href="index.php?page=login"><i class="fa fa-user"></i></a>
                    </div>
                <?php
            }
            ?>

            <a href="index.php?page=cart" class="navbar__shoppingCart">
                <img src="./img/shopping-cart.svg" style="width: 15px;" alt="">
                
                <span><?php echo $count ?></span>
            </a>
        </div>
    </div>

</div>