.container-fluid {
  padding: 20px;
}

body {
  overflow-x: hidden;
}
main
{
  display: flex;
}
.menu {
  list-style: none;
  padding: 0;
  width: 29%; 
  text-align: center;
  position: relative;
}

.head {
  display: block;
  color: black;
  font-weight: 400;
  font-size: x-large;
  background-color: aquamarine;
  height: 60px;
  padding: 15px;
}

.menu a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 30px;
  background-color: #f8f9fa;
  border-radius: 5px;
  font-size: large;
  transition: background-color 0.3s ease;
}
.grinf
{
  padding-right:  40px ;
}
.menu a:hover {
  background-color: #e9ecef;
}

.users {
  width: 200px;
  height: 270px;
  background-color: yellowgreen;
  text-align: center;
}

.users p,
.category p,
.product p,
.numoforder p {
  color: white;
  font-size: xx-large;
}

.category {
  width: 200px;
  height: 270px;
  background-color: chocolate;
  text-align: center;
}

.product {
  width: 200px;
  height: 270px;
  background-color: cadetblue;
  text-align: center;
}
.information
{
  justify-content: space-between;
}
.information svg {
  margin: 8px;
}

.numoforder {
  width: 200px;
  height: 270px;
  background-color: darkred;
  text-align: center;
}

.lipro {
  width: calc(220px * 4 + 100px);
  height: 283px;
}

table {
  border-collapse: collapse;
  width: 980px;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.tablelist
{
  display: flex;
  position: relative;
  justify-content: center;
  width: 100%;
  justify-items: center;
}
.header,
.button {
  text-align: center;
  background-color: cornflowerblue;
  color: #fff;
  font-size: large;
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
img
{
  max-width: 150px;
}
thead .header {
  font-size: x-large;
  text-align: start;
  padding-left: 45px;
}

thead tr .button {
  padding-left: 630px;
}

thead tr button {
  padding: 5px 10px;
  border: white;
  border-radius: 4px;
}

thead tr button svg {
  margin: 0 3px 3px;
}

.productinfo {
  border-bottom: solid 1.5px grey;
  font-size: large;
  text-align: center;
}

.productinfo th {
  padding: 10px;
}

td {
  text-align: center;
  max-height: 100px;
}

button {
  border: none;
}
.dropdown-toggle {
  display: block;
  width: 430px; 
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: large;
  background-color: cornflowerblue;
}
@media(max-width: 1800px){

}
@media(max-width: 500px)
{
  main
  {
    display: block;
  }
}
@media(max-width: 320px)
{

}
td
{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color:#ff523b;
    font-size: 12px;
    text-decoration: none;
}
.p-category
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}   
.p-category span
{
    color: #acacac;
    font-size: 1rem;
}
